@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login form {
    margin: auto;
    margin-top:100px ;
}
.login-form form{
    background-color: #adcbe3;
    height: auto;
    width: 350px;
    border-radius: 7px;
    padding:30px 40px;
    display: flex;
    flex-direction: column; 
    box-shadow: 8px 8px 18px black;
}
.login-form form h1{
    color: #3e6280;
    font-size: 30px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    text-align: center;
   
}
.login-form form input{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #333;
    
}
label{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
    margin-bottom: 5px;
}
#login-btn {
    width:100%;
    background-color: #3e6280;
    color: #fff;
    padding: 7px; 
    border: none;
    outline: none;
    border-radius: 7px;
    margin-right: 30px;
    font-size: 15px;
    box-shadow: 5px 5px 12px rgb(83, 81, 81);
    margin:25px 0px 10px 0px;

}

#login-btn:hover{
    background-color: #547896;
    transform: scale(1.04);
    cursor: pointer;
}
.login-form form p{
    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
    
}
.login-form form a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

             